[project]
	description = a collaborative software environment for large-scale tiled display systems
[access "refs/*"]
	owner = group user/Daniel Nachbaur (tribal-tec)
[access "refs/for/refs/*"]
	read = group user/Daniel Nachbaur (tribal-tec)
	push = group user/Daniel Nachbaur (tribal-tec)
	label-Code-Review = -2..+2 group user/Daniel Nachbaur (tribal-tec)
	label-Verified = -1..+1 group user/Daniel Nachbaur (tribal-tec)
	rebase = group user/Daniel Nachbaur (tribal-tec)
	removeReviewer = group user/Daniel Nachbaur (tribal-tec)
	submit = group user/Daniel Nachbaur (tribal-tec)
[access "refs/heads/*"]
	read = group user/Daniel Nachbaur (tribal-tec)
	create = group user/Daniel Nachbaur (tribal-tec)
	push = +force group user/Daniel Nachbaur (tribal-tec)
	pushMerge = group user/Daniel Nachbaur (tribal-tec)
[access "refs/tags/*"]
	push = +force group user/Daniel Nachbaur (tribal-tec)
	pushTag = group user/Daniel Nachbaur (tribal-tec)
	pushSignedTag = group user/Daniel Nachbaur (tribal-tec)
